.wrapper {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.greeting {

}

.greeting strong {
    font-weight: 600;
}
